.header-button{
	display: table-cell;
	width: 2.5rem;
	height: 100%;
}

.header-menu-button{
	width:4rem;
}

.header-button-icon{
	color:white;
}

.pip-menu {
	position: fixed;
	top: $header-height;
	bottom: 0;
	background-color: $pip-menu-bg;
	left: -100%;
	width: 100%;
}

.pip-menu.open {
	left: -0%;
}

.pip-navigation,
.pip-user-menu-option-list{
	padding:.5em 0;
}

.pip-navigation-item,
.pip-user-menu-option{
	font-size:0.938em;
	a{
		text-decoration: none;
	}
}

.pip-menu-bg {
	background: $pip-menu-backdrop;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.pip-menu-container {
	background: $pip-menu-bg;
	width: calc(100% - 4em);
	min-height: 100%;
	-webkit-transition: left 0.25s ease-out;
	-ms-transition: left 0.25s ease-out;
  	transition: left 0.25s ease-out;
  	position:relative;
}

.pip-user-menu {
	display: block;
	position: relative;
	width: 100%;
}

.pip-user-menu-button,
.pip-navigation-item a,
.pip-user-menu-option{
	padding:.85em 1em;
	display: block;
}

.pip-user-menu-button {
	@include box-sizing(border-box);
	@include display(flex);
	@include align-items(stretch);
	@include flex-direction(row);
	@include justify-content(flex-start);
	background: white;
	width: 100%;
	text-align: left;
	background-color:lighten($primary-color,60%);
	border-bottom:1px solid $lightgrey;
	border-bottom-color:lighten($primary-color,55%);
	padding:1.25em 1em;
}


.pip-user-menu-button-text{
	@include flex(1);
	@include display(flex);
	@include align-items(center);
}

.pip-user-menu-option-list {
	display: block;
	visibility: visible;
  	background: white;
}

.pip-user-menu-button-icon{
	margin-right:1em;
}

.pip-user-menu-button-toggle-icon:before{
	content:"\f192";
}

.pip-user-menu.open{
	.pip-user-menu-button-toggle-icon:before{
		content:"\f195";
	}
}

.pip-gemeente-logo{
	position: absolute;
	bottom:0;
	width:$gemeente-logo-width;
	height:$gemeente-logo-height;
	background-image:$gemeente-logo;
	background-size:$gemeente-logo-size;
	padding:$gemeente-logo-padding;
	background-repeat:no-repeat;
	background-position: center;
}

@media #{$medium} {
	.pip-menu-container {
		width: 20em;
	}
}