.pip-search-box {
	vertical-align: middle;
	text-align: right;
}

.pip-search-box-button-back{
	display: none;
	left:0;
	position: absolute;
	width:4rem;
}

.pip-search-box-button-back-icon{
	color:$darkgrey;
}

.pip-search-box-form {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}

.pip-search-box-input {
	max-width: 0;
	display: none;
	position: absolute;
	left:4rem;
	right:0;
	bottom:0;
	top:0;
	width:100%;
	border:none;
	background:#f4f4f4;
}

.pip-search-box.open{
	position: absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
	background:#f4f4f4;
	width:100%;
	border-bottom:1px solid $grey;
}

.pip-search-box.open{
	.pip-search-box-input {
		max-width: 100%;
		display: block;
	}
	.pip-search-box-button-back{
		display: block;
	}
}