// The default font-size is set to 100% of the browser style sheet (usually 16px)
// for compatibility with brower-based text zoom or user-set defaults.
$base-font-size: 100% !default;

// Set your base font-size in pixels so emCalc can do its magic below
$em-base: 16px !default;

// Working in ems is annoying. Think in pixels by using this handy function, emCalc(#px)
@function emCalc($pxWidth) {
  @return $pxWidth / $em-base * 1em;
}

// We use these to control various global styles
$body-bg: #fff !default;
$body-font-color: #222 !default;
$body-font-family: 'Roboto', sans-serif !default;
$body-font-weight: normal !default;
$body-font-style: normal !default;

// colors

$blue: #008bd0 !default;
$green: #22b381 !default;
$lightgrey: #e5e5e5 !default;
$grey:#bbb;
$darkgrey: #999;
$red: #da2241 !default;

$primary-color: #314973 !default;

$mobile-font-size:1.125rem;
$header-height:4rem;


// menu

$pip-menu-bg: white !default;
$pip-menu-backdrop:rgba(0,0,0,0.5) !default;


@import "breakpoints.gen";

$screen: "only screen" !default;
$small: "#{$screen} and (min-width:#{$breakpoint-small-screen})" !default;
$medium: "#{$screen} and (min-width:#{$breakpoint-medium-screen})" !default;
$large: "#{$screen} and (min-width:#{$breakpoint-large-screen})" !default;
$xlarge: "#{$screen} and (min-width:#{$breakpoint-xlarge-screen})" !default;
$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;