.pip-toolbar {
	height: 4rem;
	background: $primary-color;
	top: 0;
	position: fixed;
	left: 0;
	right: 0;
	font-size:$mobile-font-size;
	padding-right:.5em;
	@include display(flex);
	@include align-items(stretch);
	@include flex-direction(row);
	@include justify-content(flex-start);
}

.pip-toolbar-breadcrumb{
	@include display(flex);
	@include flex(1);
  	@include align-items(center);
}

.pip-toolbar-breadcrumb-title{
	vertical-align: middle;
	display: inline;
	color:white;
	font-weight: 500;
}