@import "partials/normalize";
@import "mixins/mixins";
@import "partials/settings";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: $body-font-family;
	background: $body-bg;
    font-size:$base-font-size;
}

.view {
	display: block;
	margin-top: 4em;
}

@import "toolbar";
@import "menu";
@import "search";
@import "tasks";